.button {
    -fx-box-shadow: 0px 10px 14px -7px #276873;
    -fx-background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    -fx-background-color:#599bb3;
    -fx-border-radius:8px;
    -fx-background-radius: 8px;
    -fx-display:inline-block;
    -fx-cursor:pointer;
    -fx-text-fill: #ffffff;
    -fx-fill:#ffffff;
    -fx-font-family:Arial;
    -fx-cursor: pointer;
    -fx-font-size:20px;
    -fx-font-weight:bold;
    -fx-padding:13px 32px;
    -fx-text-decoration:none;
    -fx-text-shadow:0px 1px 0px #3d768a;
}
.button:hover {
    -fx-background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    -fx-background-color:#408c99;
}
.button:active {
    -fx-position:relative;
    -fx-top:1px;
}
.title{
    -fx-font-family: Verdana, Geneva, sans-serif;
    -fx-font-size: 16px;
    -fx-spacing: 2px;
    -fx-font-weight: 700;
    -fx-text-decoration: none;
    -fx-text-fill: #5047D1;
    -fx-font-style: normal;
    -fx-font-variant: normal;
    -fx-text-transform: none;
    -fx-text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    -fx-color:#1A1745;
    -fx-background: #FFFFFF;
}

#input {
    padding: 12px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#input:focus {
    outline:none;
}